#footer 
	position: relative
	height: 500px
	width: 100%
	

#footer .carousel
	position: absolute
	width: 100%
	bottom: 325px
	z-index: 2
	
#footer .footerData 
	position: absolute
	z-index: 1
	width: 100%
	height: 350px
	bottom: 60px
	background: #f27d32
	
#footer .bottomContacts 
	position: absolute
	width: 100%
	height: 60px
	bottom: 0
	
#footer .bottomContacts .copy 
	padding-top: 25px
	padding-left: 10px
	color: #8c8284
	
#footer .footerData .footerTel 
	position: absolute
	bottom: 0
	right: 0
	width: 800px
	height: 78px
	background: url('../img/footerTel.png') no-repeat
	

#footer .footerData .siteMap 
	position: absolute
	bottom: 20px
	right: 580px
	width: 150px
	z-index: 10
	color: #8c8284
	
#footer .footerData .siteMap .siteMapIcon 
	width: 20px
	height: 20px
	padding-left: 20px
	padding-bottom: 3px
	border: none
	background: url('../img/footerMiniMap.png')
	

#footer .bottomContacts  .footerMagna 
	padding-left: 40px
	padding-bottom: 20px
	border: none
	position: relative
	z-index: 5
	background: url('../img/mangaweb.png') no-repeat
	

#footer .bottomContacts .magnaDiv 
	position: absolute
	width: 300px
	right: 0
	top: 12px
	

#footer .bottomContacts .magnaDiv a,  #footer .bottomContacts .magnaDiv .copy
	position: relative
	top: 12px
	

#footer .bottomContacts  .copyDiv 
	position: absolute
	width: 660px
	left: 0
	

#footer .footerData .footerMenuElement 
	float: left
	width: 240px
	height: 300px
	
#footer .footerData .footerMenuElement .footerUl 
	list-style: none
	li a
		line-height: 10px
		font-size: 12px
	

#footer .footerData .footerMenuElement .footerUl li .lIm 
	top: 8px
	padding-left: 20px
	padding-bottom: 3px
	border: none
	background: url('../img/footerDot.png') no-repeat
	position: absolute
	left: 0
	width: 20px
	height: 20px
	

#footer .footerData .footerMenuElement .footerUl li  
	padding-top: 5px
	


#footer .footerData .footerMenuElement  .footerMenuElementMiddle 
	width: 200px
	padding-top: 70px
	margin: 0 auto


.lImYoutube
	left: 0
	width: 20px
	height: 20px
	padding-left: 20px
	padding-bottom: 3px
	border: none
	background: url('../img/footerMiniYoutube.png') no-repeat

.lImVk
	left: 0
	width: 20px
	height: 20px
	padding-left: 20px
	padding-bottom: 3px
	border: none
	background: url('../img/footerMiniVK.png') no-repeat

.lImTwit
	left: 0
	width: 20px
	height: 20px
	padding-left: 20px
	padding-bottom: 3px
	border: none
	background: url('../img/footerMiniTwitter.png') no-repeat

.lImFace
	left: 0
	width: 20px
	height: 20px
	padding-left: 20px
	padding-bottom: 3px
	border: none
	background: url('../img/footerMiniFacebook.png') no-repeat


#footer .footerMenuElement .footerMenuElementMiddle
	h3
		font-family: "PTSans"
		font-size: 12px
		text-transform: uppercase
		margin: 0 0 0 25px
	a
		display: block
		text-decoration: underline
		color: #ffffff
		padding: 5px 10px 5px 20px
		-webkit-transition: all 0.3s ease-out
		-moz-transition: all 0.3s ease-out
		-ms-transition: all 0.3s ease-out
		-o-transition: all 0.3s ease-out
		transition: all 0.3s ease-out
		position: relative
	a:hover
		color: #231f20 !important
		text-decoration: none
		.lIm
			padding-bottom: 3px
			border: none
			background: url('../../img/headerMenuRight.png') no-repeat