
#header .topLinks
	width: 100%
	height: 45px

	

#header .topLinks .wrapper-dropdown-top .topElement
	border-bottom: 1px dashed #ed4d30
	margin-left: 3px
	
#header .topLinks .topElement
	border-bottom: 1px solid #ed4d30
	margin-left: 3px
	
#header .topLinks a
	text-decoration: none
	
#header .topLinks .topElement:hover
	border-bottom: 1px dashed #ed4d30

	

.topElementCompanyIcon, .topElementCityIcon, .topElementCompanyService, .topElementCompanyBlog, .topElementCompanyFranch
	width: 20px
	height: 20px
	padding-left: 20px
	padding-bottom: 3px
	border: none
	

#header .topLinks .topElementCompanyIcon
	background: url('../img/headerCompanyMini.png') no-repeat
	
#header .topLinks .topElementCityIcon 
	background: url('../img/headerCityMini.png') no-repeat
	
#header .topLinks .topElementCompanyService 
	background: url('../img/headerServiceMini.png') no-repeat
	
#header .topLinks .topElementCompanyBlog 
	background: url('../img/headerBlogMini.png') no-repeat
	
#header .topLinks .topElementCompanyFranch 
	background: url('../img/headerFranMini.png') no-repeat
	
#header .topLinks .city
	float: left
	padding: 10px 15px
	
#header .topLinks .yourCity
	float: left
	padding: 10px 15px
	padding-right: 0px

#header .topLinks .company, #header .topLinks .franch, #header .topLinks .blog, #header .topLinks .auto
	float: right
	padding: 10px 15px 10px 5px


#header .topLogo
	height: 100px
	width: 570px
	background: url('../img/headerTopLogo.png') no-repeat
	position: absolute
	z-index: 2


#header .topLogo .linkMain
	top: 0
	left: 0
	position: absolute
	display: block
	background: none
	height: 56px
	width: 460px


#header .topLogo .linkAddService
	top: 19px
	left: 230px
	position: absolute
	display: block
	background: none
	height: 25px
	width: 270px
	color: #ffffff
	font-size: 13px
	font-weight: bold
	text-transform: uppercase
	text-decoration: none
	line-height: 15px


#header .logo-container
	position: relative
	width: 100%
	height: 100px

#header .right-part
	position: absolute
	z-index: 1
	background-color: #f27d32
	height: 75px
	width: 100%
	padding-left: 600px
	.white-button
		background-color: #ffffff
		border: none
		box-shadow: 0 3px #c26428
		border-radius: 20px
		padding: 5px 20px 5px 20px
		font-family: 'PTSans-bold'
		text-transform: uppercase
		margin: 15px 0 5px 0
	.service-block
		display: inline-block
		vertical-align: top
	a.service-book
		position: relative
		color: #ffffff
		padding-left: 25px
		span.service-book
			position: absolute
			background: url('../img/service-book.png') no-repeat
			width: 20px
			height: 20px
			top: 0
			left: 0
	a.service-book:hover
		color: #231f20
	.info-block
		display: inline-block
		vertical-align: top
		margin: 20px 0 0 20px
		span.code, span.phone
			font-size: 30px
			color: #ffffff
		span.code
			font-family: NeoSansPro-light
		span.phone
			font-family: NeoSansPro-bold
		span.work-time
			font-family: PTSans
			color: #ffffff
			float: left
#header .topLogo .linkServiceBook
	top: 40px
	right: 300px
	position: absolute
	display: block
	background: none
	height: 20px
	width: 140px

#header .mainMenu
	width: 100%
	height: 50px

#header .mainMenu .wrapper-dropdown-2:after
	border: 0


#header .mainMenu .element
	min-width: 165px
	height: 50px
	text-decoration: underline
	cursor: pointer

.menu-element
	float: left
	position: relative

#header .mainMenu .topElement
	text-transform: uppercase
	position: relative
	top: 16px


#header .mainMenu .element:hover .topElement
	margin-left: -45px
	/*padding-right: 54px
	border: 2px solid #f1711c
	border-left: none
	border-radius: 25px
	padding: 10px 2px 10px 45px
	position: relative
	z-index: 2

#header .mainMenu .element:hover .topElement .topElement-inner
	margin-left: -43px
	/*padding-right: 54px
	background-color: #f1711c
	border: 2px solid #ffffff
	border-left: none
	border-radius: 20px
	padding: 8px 5px 8px 41px
	position: relative
	z-index: 2

/* topElementMenuRepair topElementMenuDiag topElementMenuTO topElementMenuInstall topElementMenuShin topElementMenuService*/
.topElementMenuRepair, .topElementMenuDiag, .topElementMenuTO, .topElementMenuInstall, .topElementMenuShin, .topElementMenuService
	padding-left: 50px
	padding-bottom: 30px
	border: none
	position: relative
	z-index: 5


#header .mainMenu .topElementMenuRepair
	background: url('../img/headerMenuTopRepair.png') no-repeat

#header .mainMenu .topElementMenuDiag
	background: url('../img/headerMenuTopDiag.png') no-repeat

#header .mainMenu .topElementMenuTO
	background: url('../img/headerMenuTopTO.png') no-repeat

#header .mainMenu .topElementMenuInstall
	background: url('../img/headerMenuTopInstall.png') no-repeat

#header .mainMenu .topElementMenuShin
	background: url('../img/headerMenuTopShin.png') no-repeat

#header .mainMenu .topElementMenuService
	background: url('../img/headerMenuTopService.png') no-repeat
