@import "lib/bootstrap"
@import "lib/font-awesome"
@import "lib/fonts"
@import "lib/jquery.bxslider"
@import "lib/main_gallery"
@import "lib/blog"
@import 'lib/container'
@import 'lib/header'
@import 'lib/skin'
@import 'lib/footer'
@import 'lib/main_part'
@import 'lib/dropdown'
@import 'lib/noJS'
@import 'lib/font-awesome'
@import 'lib/service_page'
@import 'lib/sidebar'


body
	font-family: PTSans


h1, h2, h3, h4, h5, h6
	font-family: PTSans-bold

a
	color: #ed4d30
	text-decoration: underline
a:hover
	color: #ed7515
	text-decoration: underline

a:visited
	color: #c13f27
	text-decoration: underline


