@import "lib/bootstrap"
@import "lib/font-awesome"
@import "lib/fonts"
@import "lib/jquery.bxslider"
@import "lib/main_gallery"
@import "lib/blog"
@import 'container'
@import 'header'
@import 'skin'
@import 'footer'
@import 'main_part'
@import 'dropdown'
@import 'noJS'
@import 'font-awesome'
@import 'lib/one_news'
@import 'lib/miniblogs'
@import 'lib/date'

body
  font-family: PTSans

h1, h2, h3, h4, h5, h6
  font-family: PTSans
  font-weight: bold

a
  color: #ed4d30
  text-decoration: underline
a:hover
  color: #ed7515
  text-decoration: underline

a:visited
  color: #c13f27
  text-decoration: underline
