@import "lib/bootstrap"
@import "lib/font-awesome"
@import "lib/fonts"
@import "lib/jquery.bxslider"
@import "lib/main_gallery"
@import 'lib/date'
@import 'lib/button'
@import 'lib/blog'
@import 'lib/stations'
@import 'container'
@import 'header'
@import 'skin'
@import 'footer'
@import 'main_part'
@import 'dropdown'
@import 'noJS'

body
	font-family: PTSans


h1, h2, h3, h4, h5, h6
	font-family: PTSans-bold
	font-weight: normal

h5
	font-size: 15px

.h1, .h2, .h3, .h4, .h5, .h6
	font-family: PTSans-bold
	font-weight: normal

.h1
	font-size: 20px

.h2
	font-size: 17px

.h3
	font-size: 15px

.h4
	font-size: 12px

.h5
	font-size: 11px

.upper
	text-transform: uppercase

a
	color: #ed4d30
	text-decoration: underline
a:hover
	color: #ed7515
	text-decoration: underline

a:visited
	color: #c13f27
	text-decoration: underline


