.blog-list-container
	%span.all-records
		%a{:href => '#'} Все записи
		&nbsp;
		%i.icon-angle-right
	%h4
		БЛОГИ


	.blogs-list
		.blog-elem
			%a{:href => '#'}
				%img{:src => 'images/blog/image_1.jpg'}
			.date
				31 июля 2013
			%a{:href => '#'}
				встречайте
				%br
				наш новый сайт

		.blog-elem
			%a{:href => '#'}
				%img{:src => 'images/blog/image_2.jpg'}
			.date
				26 мая 2013
			%a{:href => '#'}
				открыт premium филиал в&nbsp;караганде

		.blog-elem
			%a{:href => '#'}
				%img{:src => 'images/blog/image_3.jpg'}
			.date
				19 марта 2013
			%a{:href => '#'}
				шиномонтаж за 20 минут

		.blog-elem
			%a{:href => '#'}
				%img{:src => 'images/blog/image_4.jpg'}
			.date
				1 февраля 2013
			%a{:href => '#'}
				новое поступление незамерзайки

