#footer
	.carousel
		%ul#mycarousel.jcarousel-skin-tango
			%li
				%img{:src=>"img/carousel/1.png"}
			%li
				%img{:src=>"img/carousel/2.png"}
			%li
				%img{:src=>"img/carousel/3.png"}
			%li
				%img{:src=>"img/carousel/4.png"}
			%li
				%img{:src=>"img/carousel/5.png"}
			%li
				%img{:src=>"img/carousel/6.png"}
			%li
				%img{:src=>"img/carousel/7.png"}
			%li
				%img{:src=>"img/carousel/8.png"}
			%li
				%img{:src=>"img/carousel/9.png"}
	.footerData.whiteFont
		.footerMenuElement
			.footerMenuElementMiddle
				%span.h3
					Наши услуги
				%ul.footerUl
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Ремонт
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Диагностика
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Плановое ТО
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Установка оборудования
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Шиномонтаж
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Мойка
		.footerMenuElement
			.footerMenuElementMiddle
				%span.h3
					Наш сервис
				%ul.footerUl
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Гарантия
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Кредит
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Дисконтная программа
		.footerMenuElement
			.footerMenuElementMiddle
				%span.h3
					О нас
				%ul.footerUl
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								О компании
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Вакансии
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Корпоративным клиентам
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Благотворительность
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Франшиза
		.footerMenuElement
			.footerMenuElementMiddle
				%span.h3
					Мы в социальных сетях
				%ul.footerUl
					%li
						%a{:href=>"#"}
							%span.lImVk.im
							%span.liName
								Мы Вконтакте
					%li
						%a{:href=>"#"}
							%span.lImTwit.im
							%span.liName
								Мы в Twitter
					%li
						%a{:href=>"#"}
							%span.lImFace.im
							%span.liName
								Мы в Facebook
					%li
						%a{:href=>"#"}
							%span.lImYoutube.im
							%span.liName
								Мы на Youtube
		.siteMap
			.siteMapIcon
			%a{:href=>"#", :class=>"whiteFont"}
				Карта сайта
		.footerTel
			.info-block
				%span.code
					(338)
				%span.phone
					380-65-65
	.bottomContacts
		.copyDiv
			%p.copy
				© 2010-2013 Федеральная сеть станций послегарантийного обслуживания F!T SERVICE
		.magnaDiv
			%a.orangeFont{:href=>"#"}
				Разработка сайтов
			%span.copy
				Magnaweb
			%span.footerMagna

