#footer
	.footer-menu
		.footer-menu-left
			%a.img-link{:href => '#', :title => 'YouTube'}
				%i.icon-footer-youtube
			%a.img-link{:href => '#', :title => 'twitter'}
				%i.icon-footer-twitter
			%a.img-link{:href => '#', :title => 'Facebook'}
				%i.icon-footer-facebook
			%a.img-link{:href => '#', :title => 'Vkontakte'}
				%i.icon-footer-vk



		.footer-menu-right
			%i.icon-footer-sitemap
			%a{:href => '#'}
				Карта сайта

			.pull-right
				%span.question Появились вопросы? Звоните нам:
				%span.footer_phone
					(383)
					%span.phone_numbers
						380-65-65

	.bottom-block
		.gray-color.pull-left
			&copy; 2010-2013 Федеральная сеть станций послегарантийного обслуживания F!T SERVICE
		.gray-color.pull-right
			%a{:href=>"#"} Разработка сайтов
			%span.copy
				Magnaweb
			%i.icon-footer-sitelogo


