#franshiza-modal.modal.hide.fade{:tabindex=>"-1"}
	.modal-body
		%a{'data-dismiss' => 'modal'}
			%span.close-modal
		%span.h3.small
			ЗАЯВКА НА ФРАНШИЗУ
		%form.form
			%label{:for => 'popover_user_city'}
				Город
			%select#popover_user_city.customSelect{:required => 'true'}
				%option Новосибирск
				%option Москва
				%option Тула
				%option Кольцово

			%label{:for => 'popover_user_fio'}
				Ф.И.О.
			%input{:type => 'text', :id => 'popover_user_fio', :required => 'true', :value => ''}

			%label{:for => 'popover_user_phone'}
				Ваш телефон
			%input{:type => 'tel', :id => 'popover_user_phone', :placeholder => '+7 ( _ _ _ ) _ _ _-_ _-_ _',
				:required => 'true',
				:pattern => '\+7 \([0-9]{3}\) [0-9]{3}-[0-9]{2}-[0-9]{2}'}
			.align-right
				%button.orange{:type => 'submit'}
					ОТПРАВИТЬ ЗАЯВКУ
					%i.icon-angle-right


:javascript
	$(document).ready (function(){
		$("#popover_user_phone").mask("+7 (999) 999-99-99");
	})