#header
	.topLinks.orangeFont
		.yourCity
			%span.blackFont
				Ваш город:
		.dd.wrapper-dropdown-top.city{:tabindex => "1"}
			%span.topElementCityIcon
			%span.topElement
				Москва
			%span.header-menu-down
			%ul.dropdown
				%li
					%a{ :href => "#"}
						%span.lIm
						%span.liName
							Новосибирск
				%li
					%a{ :href=>"#"}
						%span.lIm
						%span.liName
							Москва
		.franch{:tabindex=>"1"}
			%span.topElementCompanyFranch
			%a{:href=>"#"}
				%span.topElement
					Купить франшизу
		.blog{:tabindex=>"1"}
			%span.topElementCompanyBlog
			%a{:href=>"#"}
				%span.topElement
					Блог
		.auto{:tabindex=>"1"}
			%span.topElementCompanyService
			%a{:href=>"#"}
				%span.topElement
					Наши автосервисы
		.dd.wrapper-dropdown-top.company{:tabindex=>"1"}
			%span.topElementCompanyIcon
			%span.topElement
				Компания
			%span.header-menu-down
			%ul.dropdown
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							Вакансии
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							Корпоративным клиентам
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							Франшиза
	.logo-container
		.topLogo
			%a{:href=>"#", :class=>"linkMain"}
			%a{:href=>"#", :class=>"linkAddService"} Федеральная сеть станций послегарантийного обслуживания
			%a{:href=>"#", :class=>"linkServiceBook"}
		.right-part
			.service-block
				%button.white-button
					Записаться на сервис
				%br
				%a.service-book{:href => '#'}
					%span.service-book
					Сервисная книжка
			.info-block
				%span.code
					(338)
				%span.phone
					380-65-65
				%br
				%span.work-time
					с 9:00 до 21:00 без выходных
	.mainMenu
		.menu-element{:href => '#'}
			.dd.wrapper-dropdown-2.element{:tabindex=>"1", 'data-link' => '#' }
				%a{:href => '#'}
					%span.topElementMenuRepair
					%span.topElement
						%span.topElement-inner
							Ремонт
						%span.round-end
			.dropdown.dropdown-menu.level0
				%ul.menu-content
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Ремонт кондиционера Remont condicionera Test
					%li
						%a{:href=>"#", :tabindex => "-1"}
							%span.lIm
							%span.liName
								Кузовной ремонт
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Ремонт двигателя
						%li
							%a{:href=>"#"}
								%span.lIm
								%span.liName
									Ремонт автоэлектрики
				%ul.dropdown.second-column
					%li
						%a{:href=>"#", :tabindex => "-1"}
							%span.lIm
							%span.liName
								Ремонт тормозной системы
						%li
							%a{:href=>"#", :tabindex => "-1"}
								%span.lIm
								%span.liName
									Ремонт АКПП
						%li
							%a{:href=>"#", :tabindex => "-1"}
								%span.lIm
								%span.liName
									Ремонт подвески
		.menu-element
			.dd.wrapper-dropdown-2.element{:tabindex=>"1"}
				%a{:href => '#'}
					%span.topElementMenuDiag
					%span.topElement
						%span.topElement-inner
							Диагностика
						%span.round-end
			.dropdown.dropdown-menu.level0
				.menu-content
		.menu-element
			.dd.wrapper-dropdown-2.element{:tabindex=>"1"}
				%a{:href => '#'}
					%span.topElementMenuTO
					%span.topElement
						%span.topElement-inner
							Плановое&nbsp;ТО
						%span.round-end
			.dropdown.dropdown-menu.level0
				.menu-content
		.menu-element
			.dd.wrapper-dropdown-2.element{:tabindex=>"1"}
				%a{:href => '#'}
					%span.topElementMenuInstall
					%span.topElement
						%span.topElement-inner
							Установка оборудования
						%span.round-end
			.dropdown.dropdown-menu.level0
				.menu-content
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								О компании
		.menu-element
			.dd.wrapper-dropdown-2.element{:tabindex=>"1"}
				%a{:href => '#'}
					%span.topElementMenuShin
					%span.topElement
						%span.topElement-inner
							Шиномонтаж
						%span.round-end
			.dropdown.dropdown-menu.level0
				.menu-content
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								О компании
		.menu-element
			.dd.wrapper-dropdown-2.element{:tabindex=>"1"}
				%a{:href => '#'}
					%span.topElementMenuService
					%span.topElement
						%span.topElement-inner
							Наш&nbsp;сервис
						%span.round-end
			.dropdown.dropdown-menu.level0
				.menu-content
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								О компании
