#header
	.topLinks.orangeFont
		.yourCity
			%span.blackFont
				Ваш город:
		.dd.wrapper-dropdown-top.city{:tabindex => "1"}
			%span.topElementCityIcon
			%span.topElement
				Москва
			%ul.dropdown
				%li
					%a{ :href => "#"}
						%span.lIm
							%span.liName
								Новосибирск
				%li
					%a{ :href=>"#"}
						%span.lIm
							%span.liName
								Москва
		.franch{:tabindex=>"1"}
			%span.topElementCompanyFranch
			%a{:href=>"#"}
				%span.topElement
					Купить франшизу
		.blog{:tabindex=>"1"}
			%span.topElementCompanyBlog
			%a{:href=>"#"}
				%span.topElement
					Блог
		.auto{:tabindex=>"1"}
			%span.topElementCompanyService
			%a{:href=>"#"}
				%span.topElement
					Наши автосервисы
		.dd.wrapper-dropdown-top.company{:tabindex=>"1"}
			%span.topElementCompanyIcon
			%span.topElement
				Компания
			%ul.dropdown
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							Вакансии
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							Корпоративным клиентам
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							Франшиза
	.logo-container
		.topLogo
			%a{:href=>"#", :class=>"linkMain"}
			%a{:href=>"#", :class=>"linkAddService"} Федеральная сеть станций послегарантийного обслуживания
			%a{:href=>"#", :class=>"linkServiceBook"}
		.right-part
			.service-block
				%button.white-button
					Записаться на сервис
				%br
				%a.service-book{:href => '#'}
					%span.service-book
					Сервисная книжка
			.info-block
				%span.code
					(338)
				%span.phone
					380-65-65
				%br
				%span.work-time
					с 9:00 до 21:00 без выходных



	.mainMenu
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuRepair
				%span.topElement
					%span.topElement-inner
						Ремонт
			%ul.dropdown.dropdown-menu.level0
				.menu-content
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Ремонт кондиционера
					%li.dropdown-sub#sub1
						%a{:href=>"#", :tabindex => "-1"}
							%span.lIm
							%span.liName
								Кузовной ремонт
					%ul.dropdown.submenu.level1#sub1
						%li
							%a{:href=>"#", :tabindex => "-1"}
								%span.lIm
								%span.liName
									Ремонт тормозной системы
							%li
								%a{:href=>"#", :tabindex => "-1"}
									%span.lIm
									%span.liName
										Ремонт АКПП
							%li
								%a{:href=>"#", :tabindex => "-1"}
									%span.lIm
									%span.liName
										Ремонт подвески
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Ремонт двигателя
						%li
							%a{:href=>"#"}
								%span.lIm
								%span.liName
									Ремонт автоэлектрики
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuDiag
				%span.topElement
					%span.topElement-inner
						Диагностика
			%ul.dropdown.dropdown-menu.level0
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuTO
				%span.topElement
					%span.topElement-inner
						Плановое&nbsp;ТО
			%ul.dropdown.dropdown-menu.level0
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown', :style => 'width: 255px'}
				%span.topElementMenuInstall
				%span.topElement
					%span.topElement-inner
						Установка оборудования
			%ul.dropdown.dropdown-menu.level0
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuShin
				%span.topElement
					%span.topElement-inner
						Шиномонтаж
			%ul.dropdown.dropdown-menu.level0
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuService
				%span.topElement
					%span.topElement-inner
						Наш&nbsp;сервис
			%ul.dropdown.dropdown-menu.level0
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании