#header
	.topLinks.orangeFont
		.yourCity
			%span.blackFont
				Ваш город:
		.dd.wrapper-dropdown-2.city{:tabindex => "1"}
			%span.topElementCityIcon
			%span.topElement
				Москва
			%ul.dropdown
				%li
					%a{ :href => "#"}
						%span.lIm
							%span.liName
								Новосибирск
				%li
					%a{ :href=>"#"}
					%span.lIm
						%span.liName
							Москва
		.franch{:tabindex=>"1"}
			%span.topElementCompanyFranch
			%a{:href=>"#"}
				%span.topElement
					Купить франшизу
		.blog{:tabindex=>"1"}
			%span.topElementCompanyBlog"
			%a{:href=>"#"}
				%span.topElement
					Блог
		.auto{:tabindex=>"1"}
			%span.topElementCompanyService
			%a{:href=>"#"}
				%span.topElement
					Наши автосервисы
		.dd.wrapper-dropdown-2.company{:tabindex=>"1"}
			%span.topElementCompanyIcon
			%span.topElement
				Компания
			%ul.dropdown
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
	.topLogo
		%a{:href=>"#", :class=>"linkMain"}
		%a{:href=>"#", :class=>"linkAddService"}
		%a{:href=>"#", :class=>"linkServiceBook"}

	.mainMenu
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuRepair
				%span.topElement
					Ремонт
			%ul.dropdown.dropdown-menu
				.menu-content
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Ремонт кондиционера
					%li.dropdown-submenu
						%a{:href=>"#", :tabindex => "-1"}
							%span.lIm
							%span.liName
								Кузовной ремонт
						%ul.dropdown-menu
							%li
								%a{:href=>"#", :tabindex => "-1"}
									%span.lIm
									%span.liName
										Ремонт кондиционера
								%li
									%a{:href=>"#", :tabindex => "-1"}
										%span.lIm
										%span.liName
											Ремонт кондиционера
					%li
						%a{:href=>"#"}
							%span.lIm
							%span.liName
								Ремонт автоэлектрики
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuDiag
				%span.topElement
					Диагностика
			%ul.dropdown.dropdown-menu
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuTO
				%span.topElement
					Плановое&nbsp;ТО
			%ul.dropdown.dropdown-menu
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuInstall
				%span.topElement
					Установка
			%ul.dropdown.dropdown-menu
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuShin
				%span.topElement
					Шиномонтаж
			%ul.dropdown.dropdown-menu
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании
		.menu-element
			.dd.wrapper-dropdown-2.element.dropdown-toggle{:tabindex=>"1", 'data-toggle' => 'dropdown'}
				%span.topElementMenuService
				%span.topElement
					Наш&nbsp;сервис
			%ul.dropdown.dropdown-menu
				%li
					%a{:href=>"#"}
						%span.lIm
						%span.liName
							О компании