#header
	#logo
		Федеральная сеть станций
		%br
		послегарантийного обслуживания
	.link_block
		%span.header_link
			%i.icon-header-portal
			%a{:href => '#'}
				Корпоративный портал

		%span.header_link
			%i.icon-header-service
			%a.service{:href => '#'}
				Вернуться на автосервис

	#header_phone
		(383)
		%span.phone_numbers
			380-65-65

	.header_menu
		%ul.menu
			%li
				%a{:href => '#'}
					форматы станций
			%li
				%a{:href => '#'}
					наш бренд
			%li
				%a{:href => '#'}
					10 основных преимуществ
			%li
				%a.active{:href => '#'}
					истории успеха
			%li
				%a{:href => '#'}
					требования к франчайзи
			%li
				%a{:href => '#'}
					презентация






