%ul.miniblogs
  %li
    %a{:href => "javascript:{}"}
      %i.back
      %p Блоги
  %li
    %a{:href => "javascript:{}"}
      %i.back
      %p Новогсти
  %li
    %a{:href => "javascript:{}"}
      %i.back
      %p Акции
  %li
    %a{:href => "javascript:{}"}
      %i.back
      %p Информационные статьи
  %li
    %a{:href => "javascript:{}"}
      %i.back
      %p Для постоянных клиентов
  %li
    %a{:href => "javascript:{}"}
      %i.back
      %p Для франчайзи
