%script{:type => "text/javascript", :charset => "utf-8", :src => "http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"}
.sidebar-inner
  .book-service
    %a{:href => '#', 'data-toggle' => 'modal', 'data-target' => '#book-service-modal'}
      Записаться
      %br
      на обслуживание
      &nbsp;
      %i.icon-angle-right
        &#xf105;
  #book-service-modal.modal.hide.fade{:tabindex=>"-1"}
    .modal-body
      %a{'data-dismiss' => 'modal'}
        %span.close-modal
      %span.h4
        Записаться на обслуживание
      .left-form
        %form#book-form.form
          %label
            Город
          %select#town.customSelect
            %option.active
              Новосибирск
            %option
              Москва
          %label
            Адрес автосервиса
          %select#address.customSelect
            %option
              ул. Мира, 67
            %option
              ул. Мира, 67
          %label
            Ваше имя
          %input#name
          %label
            Ваш телефон
          %input#phone
          %label
            Причина обращения
          %textarea#reason
        .book-service
          %a{:href => '#', 'data-toggle' => 'modal', 'data-target' => '#book-service-modal', :type => 'submit'}
            Записаться
      .right-map
        #yamap{:style => 'width: 560px; height: 445px'}
        %script{:type => 'text/javascript', :src => 'javascripts/yamap.js'}


  %ul.service-list
    %li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт кондиционера
    %li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт тормозной системы
    %li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Кузовной ремонт
    %li.sub-li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт АКПП
      %ul.sublist
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Ремонт Двигателя
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Капитальный ремонт двигателя
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена ремня(цепи) ГРМ
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена сальников
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена подушек двигателям
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена двигателя
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена прокладок ГБЦ
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена опор двигателя
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Ремонт генераторов
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Ремонт стартеров
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена датчиков
    %li.sub-li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт подвески
    %li.sub-li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт автоэлектрики
.special-offer
  %span.h2
    Горячие акции
  %img{:src => 'img/special_offer_2.png'}
  %img{:src => 'img/special_offer_1.png'}
