.sidebar-inner
  .book-service
    %a{:href => '#'}
      Записаться
      %br
      на обслуживание
      &nbsp;
      %i.icon-angle-right
  %ul.service-list
    %li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт кондиционера
    %li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт тормозной системы
    %li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Кузовной ремонт
    %li.sub-li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт АКПП
      %ul.sublist
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Ремонт Двигателя
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Капитальный ремонт двигателя
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена ремня(цепи) ГРМ
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена сальников
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена подушек двигателям
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена двигателя
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена прокладок ГБЦ
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена опор двигателя
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Ремонт генераторов
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Ремонт стартеров
        %li
          %a{:href=>"#"}
            %span.lIm
            %span.liName
              Замена датчиков
    %li.sub-li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт подвески
    %li.sub-li
      %a{:href=>"#"}
        %span.lIm
        %span.liName
          Ремонт автоэлектрики
.special-offer
  %h4
    Горячие акции
  %img{:src => 'img/special_offer_2.png'}
  %img{:src => 'img/special_offer_1.png'}