%div.content
  %div.newsdate.date
    32 августа, 2015
  %h1
    Новое поступление незамерзайки(Н1)
  %div.newscontent
    %img.floating.left.newsimage{:src => "images/blog/image_4.jpg"}
    %p 
      %a.full{:href => "http://placekitten.com/50/50"} "Незамерзайками"
      зовутся незамерзающие жидкости, которые предназначены для мойки ветровых стекол автомобилей при низких температурах воздуха. Тут следует обратить внимание на то, какие возможные пределы указывает изготовитель. Все незамерзающие жидкости разные: на одной этикетке может стоять отметка до минус 15 градусов, на другой - до 25 ниже ноля, а третья гарантирует чистые стекла и в 
      %a.popup{:href => "http://placekitten.com/40/40"} 40 градусов мороза
      \.
    %p
      "Незамерзайками" зовутся незамерзающие жидкости, которые предназначены для мойки ветровых стекол автомобилей при низких температурах воздуха. Тут следует обратить внимание на то, какие возможные пределы указывает изготовитель. Все незамерзающие жидкости разные: на одной этикетке может стоять отметка до минус 15 градусов, на другой - до 25 ниже ноля, а третья гарантирует чистые стекла и в 40 градусов мороза. Хотя полностью доверять указанным цифрам не стоит, лучше подстрахуйтесь. У меня, например, было и такое, что незамерзайка, которая обещала выдержать 25 градусов мороза, подкачала уже в 16-18.
    %h2
      В состав незамерзаек входят(H2)
    %ul.orangelist
      %li 
        %p Раствор спирта
      %li
        %p Моющие добавки
      %li
        %p Отдушки
      %li
        %p Красители
      %li
        %p Может входить метанол, пары которого вредны
    %p
      Запрет на производство, продажу и использование незамерзаек, содержащих метанол, был принят в России уже более 7 лет назад. Но это не помеха для недобросовестных производителей незамерзающей жидкости. Кстати, даже в автомобильном супермаркете можно встретить подделки, которые стоят на одной полке с качественной продукцией. А все дело в том, что метанол дешевле изопропилового спирта, из которого изготавливаются обычные незамерзайки, поэтому производство и продажа тех, что содержат метиловый спирт хоть и опасны, но крайне выгодны.
    %table
      %tr
        %th Заголовок таблицы
        %th Заголовок таблицы
        %th Заголовок таблицы
        %th Заголовок таблицы
        %th Заголовок таблицы
      %tr
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
      %tr
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
      %tr
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
      %tr
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
      %tr
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
        %td Данные таблицы
    %p
      Для нас, потребителей, о выгоде речи быть не может, а поводов для беспокойства за свое здоровье более чем достаточно. Метанол - это яд, который, попадая внутрь организма, поражает нервную и сосудистую систему человека. Несколько граммов метанола могут привести к полной потере зрения, а трёх десятков хватит для того, чтобы попрощаться с жизнью навсегда. Разумеется, опасны и пары метанола, которые проникают в салон автомобиля через воздухозаборники системы вентиляции и отопления. Это представляет серьезную опасность для легких водителя и пассажиров машины. Так что, если после нескольких часов за рулем, когда вы активно используете омыватель, возникает слезоточивость глаз, головная боль или слабость, то лучше сменить незамерзайку.
    %h3
      Качество незамерзайки (Н3):
    %p
      Резкий запах могут иметь и качественные незамерзайки, в состав которых входит изопропиловый спирт. Он не так опасен, как метанол, но тоже может оказывать отрицательное влияние на организм человека. Для того чтобы хоть немного смягчить резкий запах, производители используют ароматизаторы и всевозможные отдушки. Соответственно и стоят такие незамерзайки дороже.
    %ol.numberlist
      %li
        %p
          Специфичный запах
        %ul.greylist
          %li
            %p
              Моющие добавки
          %li 
            %p
              Отдушки
          %li 
            %p
              Красители
      %li
        %p
          Головные боли
      %li 
        %p
          Низкая цена
    %p
      Пятилитровая канистра даже самого дешевой незамерзающей жидкости отечественного производителя не может стоить менее 150 рублей. Также будьте внимательны при покупке незамерзайки зарубежных производителей, так как они, как правило, требуют точного соблюдения технологии разбавления. Если ошибиться с дозой, то жидкость придется отогревать в бачке. Кроме этого, никогда не разбавляйте «незамерзайку» водой, если вам очень жалко денег. Даже если на этикетке незамерзающей жидкости написано -30 градусов, а на улице всего -5, в погоне за экономией вы рискуете заморозить жидкость в бачке, а отогреть ее будет очень сложно и хлопотно.
