= partial 'franshiza_popver'

.franshiza#Premium_building
	.example_buildings
		.current
			%img{:src => 'images/building/premium/img_big.png'}
		.other
			.elem
				%a.Standart_building_link{:href => '#'}
					Standart
				%img{:src => 'images/building/standart/img_small.png'}

			.elem
				%a.Express_building_link{:href => '#'}
					Express
				%img{:src => 'images/building/express/img_small.png'}


	.bottom-block
		.left-block#premium-info-text-block
			%span.h1
				ОПИСАНИЕ ФРАНШИЗЫ PREMIUM
			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#premium-info-text-block", :href=> "#premium-info-text-block .collapse_1"}
					%span.h3 ИНВЕСТИЦИИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_1.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#premium-info-text-block", :href=> "#premium-info-text-block .collapse_2"}
					%span.h3 СРОК ОКУПАЕМОСТИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_2.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#premium-info-text-block", :href=> "#premium-info-text-block .collapse_3"}
					%span.h3 СРОК ВЫХОДА НА ПРИБЫЛЬ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_3.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#premium-info-text-block", :href=> "#premium-info-text-block .collapse_4"}
					%span.h3 РЕНТАБЕЛЬНОСТЬ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_4.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#premium-info-text-block", :href=> "#premium-info-text-block .collapse_5"}
					%span.h3 ПРОГНОЗ ПО ВЫРУЧКЕ И ПРИБЫЛИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_5.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#premium-info-text-block", :href=> "#premium-info-text-block .collapse_6"}
					%span.h3 ТРЕБОВАНИЯ В ПОМЕЩЕНИЮ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_6.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#premium-info-text-block", :href=> "#premium-info-text-block .collapse_7"}
					%span.h3 ЕСЛИ У МЕНЯ ЕСТЬ СТО?!
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_7.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.




		.right-block
			.buy-button-block
				%button.orange{'data-toggle' => 'modal', 'data-target' => '#franshiza-modal'}
					КУПИТЬ ФРАНШИЗУ PREMIUM
					%i.icon-angle-right
			.plan
				%span.h3.small.with-top-margin
					ПЛАНИРОВКА
				%img{:src => 'images/building/premium/plan_1.jpg'}
				%img{:src => 'images/building/premium/plan_2.jpg'}

			.example-gallery#premium-example
				%span.h3.small.with-top-margin
					ПРИМЕР РЕАЛИЗАЦИИ
				.top
					%ul#premium-gallery.top-gallery
						%li
							%img{:src => 'images/stations/image_1.jpg'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 2'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 3'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 4'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 5'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 6'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 7'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 8'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 9'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 10'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 11'}

				.controls-block
					%a#premium-pg-prev.prev-link{:href=> '#'}
					%a#premium-pg-next.next-link{:href=> '#'}
					%ul.gallery-controls
						%li
							%a{:href=>'#', 'data-slide-index' => 0}
								%img{:src => 'images/stations/image_1.jpg'}
						%li
							%a{:href=>'#', 'data-slide-index' => 1}
								%img{:src => 'http://placehold.it/102x80&text=2'}
						%li
							%a{:href=>'#', 'data-slide-index' => 2}
								%img{:src => 'http://placehold.it/102x80&text=3'}
						%li
							%a{:href=>'#', 'data-slide-index' => 3}
								%img{:src => 'http://placehold.it/102x80&text=4'}
						%li
							%a{:href=>'#', 'data-slide-index' => 4}
								%img{:src => 'http://placehold.it/102x80&text=5'}

					%ul.gallery-controls
						%li
							%a{:href=>'#', 'data-slide-index' => 5}
								%img{:src => 'http://placehold.it/102x80&text=6'}
						%li
							%a{:href=>'#', 'data-slide-index' => 6}
								%img{:src => 'http://placehold.it/102x80&text=7'}
						%li
							%a{:href=>'#', 'data-slide-index' => 7}
								%img{:src => 'http://placehold.it/102x80&text=8'}
						%li
							%a{:href=>'#', 'data-slide-index' => 8}
								%img{:src => 'http://placehold.it/102x80&text=9'}
						%li
							%a{:href=>'#', 'data-slide-index' => 9}
								%img{:src => 'http://placehold.it/102x80&text=10'}







.franshiza#Standart_building
	.example_buildings
		.current
			%img{:src => 'images/building/standart/img_big.png'}
		.other
			.elem
				%a.Premium_building_link{:href => '#'}
					Premium
				%img{:src => 'images/building/premium/img_small.png'}

			.elem
				%a.Express_building_link{:href => '#'}
					Express
				%img{:src => 'images/building/express/img_small.png'}


	.bottom-block
		.left-block#standart-info-text-block
			%span.h1
				ОПИСАНИЕ ФРАНШИЗЫ PREMIUM
			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#standart-info-text-block", :href=> "#standart-info-text-block .collapse_1"}
					%span.h3 ИНВЕСТИЦИИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_1.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#standart-info-text-block", :href=> "#standart-info-text-block .collapse_2"}
					%span.h3 СРОК ОКУПАЕМОСТИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_2.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#standart-info-text-block", :href=> "#standart-info-text-block .collapse_3"}
					%span.h3 СРОК ВЫХОДА НА ПРИБЫЛЬ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_3.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#standart-info-text-block", :href=> "#standart-info-text-block .collapse_4"}
					%span.h3 РЕНТАБЕЛЬНОСТЬ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_4.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#standart-info-text-block", :href=> "#standart-info-text-block .collapse_5"}
					%span.h3 ПРОГНОЗ ПО ВЫРУЧКЕ И ПРИБЫЛИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_5.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#standart-info-text-block", :href=> "#standart-info-text-block .collapse_6"}
					%span.h3 ТРЕБОВАНИЯ В ПОМЕЩЕНИЮ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_6.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#standart-info-text-block", :href=> "#standart-info-text-block .collapse_7"}
					%span.h3 ЕСЛИ У МЕНЯ ЕСТЬ СТО?!
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_7.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.




		.right-block
			.buy-button-block
				%button.orange{'data-toggle' => 'modal', 'data-target' => '#franshiza-modal'}
					КУПИТЬ ФРАНШИЗУ STANDART
					%i.icon-angle-right
			.plan
				%span.h3.small.with-top-margin
					ПЛАНИРОВКА
				%img{:src => 'images/building/standart/plan_1.jpg'}
				%img{:src => 'images/building/standart/plan_2.jpg'}

			.example-gallery#standart-example
				%span.h3.small.with-top-margin
					ПРИМЕР РЕАЛИЗАЦИИ
				.top
					%ul#standart-gallery.top-gallery
						%li
							%img{:src => 'images/stations/image_1.jpg'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 2'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 3'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 4'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 5'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 6'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 7'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 8'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 9'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 10'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 11'}

				.controls-block
					%a#standart-pg-prev.prev-link{:href=> '#'}
					%a#standart-pg-next.next-link{:href=> '#'}
					%ul.gallery-controls
						%li
							%a{:href=>'#', 'data-slide-index' => 0}
								%img{:src => 'images/stations/image_1.jpg'}
						%li
							%a{:href=>'#', 'data-slide-index' => 1}
								%img{:src => 'http://placehold.it/102x80&text=2'}
						%li
							%a{:href=>'#', 'data-slide-index' => 2}
								%img{:src => 'http://placehold.it/102x80&text=3'}
						%li
							%a{:href=>'#', 'data-slide-index' => 3}
								%img{:src => 'http://placehold.it/102x80&text=4'}
						%li
							%a{:href=>'#', 'data-slide-index' => 4}
								%img{:src => 'http://placehold.it/102x80&text=5'}

					%ul.gallery-controls
						%li
							%a{:href=>'#', 'data-slide-index' => 5}
								%img{:src => 'http://placehold.it/102x80&text=6'}
						%li
							%a{:href=>'#', 'data-slide-index' => 6}
								%img{:src => 'http://placehold.it/102x80&text=7'}
						%li
							%a{:href=>'#', 'data-slide-index' => 7}
								%img{:src => 'http://placehold.it/102x80&text=8'}
						%li
							%a{:href=>'#', 'data-slide-index' => 8}
								%img{:src => 'http://placehold.it/102x80&text=9'}
						%li
							%a{:href=>'#', 'data-slide-index' => 9}
								%img{:src => 'http://placehold.it/102x80&text=10'}







.franshiza#Express_building
	.example_buildings
		.current
			%img{:src => 'images/building/express/img_big.png'}
		.other
			.elem
				%a.Premium_building_link{:href => '#'}
					Premium
				%img{:src => 'images/building/premium/img_small.png'}

			.elem
				%a.Standart_building_link{:href => '#'}
					Standart
				%img{:src => 'images/building/standart/img_small.png'}


	.bottom-block
		.left-block#express-info-text-block
			%span.h1
				ОПИСАНИЕ ФРАНШИЗЫ PREMIUM
			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#express-info-text-block", :href=> "#express-info-text-block .collapse_1"}
					%span.h3 ИНВЕСТИЦИИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_1.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#express-info-text-block", :href=> "#express-info-text-block .collapse_2"}
					%span.h3 СРОК ОКУПАЕМОСТИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_2.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#express-info-text-block", :href=> "#express-info-text-block .collapse_3"}
					%span.h3 СРОК ВЫХОДА НА ПРИБЫЛЬ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_3.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#express-info-text-block", :href=> "#express-info-text-block .collapse_4"}
					%span.h3 РЕНТАБЕЛЬНОСТЬ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_4.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#express-info-text-block", :href=> "#express-info-text-block .collapse_5"}
					%span.h3 ПРОГНОЗ ПО ВЫРУЧКЕ И ПРИБЫЛИ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_5.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#express-info-text-block", :href=> "#express-info-text-block .collapse_6"}
					%span.h3 ТРЕБОВАНИЯ В ПОМЕЩЕНИЮ
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_6.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.

			.elem.panel
				%a.toggler.collapsed{'data-toggle' => "collapse", 'data-parent'=> "#express-info-text-block", :href=> "#express-info-text-block .collapse_7"}
					%span.h3 ЕСЛИ У МЕНЯ ЕСТЬ СТО?!
					%i.icon-angle-down
					%i.icon-angle-up
				.collapse_7.description.panel-collapse.collapse
					.panel-body
						%p Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом. Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.
						%p А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер, полагаясь на инсайдерскую информацию. Служба маркетинга компании без оглядки на авторитеты усиливает продукт, не считаясь с затратами.
						%p Ретроконверсия национального наследия, вопреки мнению П.Друкера, слабо индуцирует фирменный стиль, не считаясь с затратами.




		.right-block
			.buy-button-block
				%button.orange{'data-toggle' => 'modal', 'data-target' => '#franshiza-modal'}
					КУПИТЬ ФРАНШИЗУ EXPRESS
					%i.icon-angle-right
			.plan
				%span.h3.small.with-top-margin
					ПЛАНИРОВКА
				%img{:src => 'images/building/express/plan_1.jpg'}
				%img{:src => 'images/building/express/plan_2.jpg'}

			.example-gallery#express-example
				%span.h3.small.with-top-margin
					ПРИМЕР РЕАЛИЗАЦИИ
				.top
					%ul#express-gallery.top-gallery
						%li
							%img{:src => 'images/stations/image_1.jpg'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 2'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 3'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 4'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 5'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 6'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 7'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 8'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 9'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 10'}
						%li
							%img{:src => 'http://placehold.it/308x220&text=F!T SERVICE 11'}

				.controls-block
					%a#express-pg-prev.prev-link{:href=> '#'}
					%a#express-pg-next.next-link{:href=> '#'}
					%ul.gallery-controls
						%li
							%a{:href=>'#', 'data-slide-index' => 0}
								%img{:src => 'images/stations/image_1.jpg'}
						%li
							%a{:href=>'#', 'data-slide-index' => 1}
								%img{:src => 'http://placehold.it/102x80&text=2'}
						%li
							%a{:href=>'#', 'data-slide-index' => 2}
								%img{:src => 'http://placehold.it/102x80&text=3'}
						%li
							%a{:href=>'#', 'data-slide-index' => 3}
								%img{:src => 'http://placehold.it/102x80&text=4'}
						%li
							%a{:href=>'#', 'data-slide-index' => 4}
								%img{:src => 'http://placehold.it/102x80&text=5'}

					%ul.gallery-controls
						%li
							%a{:href=>'#', 'data-slide-index' => 5}
								%img{:src => 'http://placehold.it/102x80&text=6'}
						%li
							%a{:href=>'#', 'data-slide-index' => 6}
								%img{:src => 'http://placehold.it/102x80&text=7'}
						%li
							%a{:href=>'#', 'data-slide-index' => 7}
								%img{:src => 'http://placehold.it/102x80&text=8'}
						%li
							%a{:href=>'#', 'data-slide-index' => 8}
								%img{:src => 'http://placehold.it/102x80&text=9'}
						%li
							%a{:href=>'#', 'data-slide-index' => 9}
								%img{:src => 'http://placehold.it/102x80&text=10'}


















:javascript
	function init_gallery(st)
	{
		var list = Array();

		var el = $('#'+st+'-gallery').bxSlider({
			controls: false,
			pager: true,
			pagerCustom: '#'+st+'-example .gallery-controls',
			mode: 'fade',
			preloadImages: 'visible'
		});
		list.push(el);

		$('#'+st+'-example .gallery-controls').each(function(){
			var e = $(this).bxSlider({
				controls: true,
				pager: false,
				nextSelector: '#'+st+'-pg-next',
				prevSelector: '#'+st+'-pg-prev',
				slideWidth: 104,
				minSlides: 3,
				maxSlides: 3,
				slideMargin: 10,
				preloadImages: 'visible'
			});
			list.push(e);
		});

		return list;
	}
	$(document).ready(function()
	{
		var gl_premium = init_gallery('premium');
		var gl_standart = init_gallery('standart');
		var gl_express = init_gallery('express');

		$('.Standart_building_link').on('click', function(){
			$('#premium-info-text-block [data-target^=collapse_]').collapse('hide')
			$('#express-info-text-block [data-target^=collapse_]').collapse('hide')
			$('#Express_building').hide('slow');
			$('#Premium_building').hide('slow');
			$('#Standart_building').show('slow', function(){
				gl_standart.every(function(e){
					e.redrawSlider();
					return true;
				});
			});
			return false;
		})
		$('.Express_building_link').on('click', function(){
			$('#premium-info-text-block [data-target^=collapse_]').collapse('hide')
			$('#standart-info-text-block [data-target^=collapse_]').collapse('hide')
			$('#Standart_building').hide('slow');
			$('#Premium_building').hide('slow');
			$('#Express_building').show('slow', function() {
				gl_express.every(function(e){
					e.redrawSlider();
					return true;
				});
			});

			return false;
		})
		$('.Premium_building_link').on('click', function(){
			$('#express-info-text-block [data-target^=collapse_]').collapse('hide')
			$('#standart-info-text-block [data-target^=collapse_]').collapse('hide')
			$('#Express_building').hide('slow');
			$('#Standart_building').hide('slow');
			$('#Premium_building').show('slow', function (){
				gl_premium.every(function(e){
					e.redrawSlider();
					return true;
				});
			});

			return false;
		})

	});


