%div.text_content_wrapper
	%div.text_container
		%span.h1
			БЛОГИ
		.news-elem
			%a.img{:href => '#'}
				%img.newsimage{:src => "images/blog/image_1.jpg"}
			.right-text
				%div.date
					32 августа, 2013
				%div
					%a.header-link
						Встречайте наш новый сайт
				%p
					Наша компания встречает вас с новым дизайном сайта.
					Следуя популярным трендам наш новый дизайн сайта сочетает в себе элементы простоты и минимализма.

		.news-elem
			%a.img{:href => '#'}
				%img.newsimage{:src => "images/blog/image_2.jpg"}
			.right-text
				%div.date
					32 августа, 2013
				%div
					%a.header-link
						Открыт Premium филиал в Новосибирске
				%p
					Недалеко от ТРЦ "МЕГА" открылась новая станция FIT SERVICE.
					%br
					Станция находится по адресу Тюменская, 91.
					%br
					Телефон все тот же: 363-59-55, звоните с 9 до 21.

		.news-elem
			%a.img{:href => '#'}
				%img.newsimage{:src => "images/blog/image_3.jpg"}

			.right-text
				%div.date
					32 августа, 2013
				%div
					%a.header-link
						Шиномонтаж за 20 минут
				%p
					Шиномонтаж — это операция по снятию шины с диска или установке ее на диск.
					Шиномонтаж делается для выявления и ремонта механических повреждений шины (боковых порезов, проколов),
					либо для сезонной смены шин.

		.news-elem
			%a.img{:href => '#'}
				%img.newsimage{:src => "images/blog/image_4.jpg"}
			.right-text
				%div.date
					32 августа, 2013
				%div
					%a.header-link
						Новое поступление незамерзайки
				%p
					"Незамерзайками" зовутся незамерзающие жидкости,
					которые предназначены для мойки ветровых стекол автомобилей при низких температурах воздуха.
					Тут следует обратить внимание на то, какие возможные пределы указывает изготовитель.
					Все незамерзающие жидкости разные: на одной этикетке может стоять отметка до минус 15 градусов,
					на другой - до 25 ниже ноля.

		= partial 'paginator'

	%div.right_column
		%div.miniblogs_wrapper
			= partial "miniblogs"
		%div.vkgroup
			= partial "vkgroup"
		%div.fbgroup
			= partial "fbgroup"