.presentation-box
  .title
    Презентации
  .ssh-row-0
    .ssh-box-left
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :marginheight => "0", :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no", :src => "http://www.slideshare.net/slideshow/embed_code/25455663?rel=0", :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", :webkitallowfullscreen => "", :width => "520"}
      .ssh-tips
        .ssh-name
          брэнд концепция
        .ssh-body
          Учитывая современные тенденции.
          А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер,
          полагаясь на инсайдерскую информацию.
    .ssh-box-right
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :marginheight => "0", :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no", :src => "http://www.slideshare.net/slideshow/embed_code/25455663?rel=0", :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", :webkitallowfullscreen => "", :width => "520"}
      .ssh-tips
        .ssh-name
          фирменный стиль
        .ssh-body
          Служба маркетинга компании без оглядки. Учитывая современные тенденции.
          А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер.
  .ssh-row-1
    .ssh-box-left
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :marginheight => "0", :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no", :src => "http://www.slideshare.net/slideshow/embed_code/25455663?rel=0", :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", :webkitallowfullscreen => "", :width => "520"}
      .ssh-tips
        .ssh-name
          свой автосервис за месяц
        .ssh-body
          Учитывая современные тенденции.
          А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер,
          полагаясь на инсайдерскую информацию.
    .ssh-box-right
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :marginheight => "0", :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no", :src => "http://www.slideshare.net/slideshow/embed_code/25455663?rel=0", :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", :webkitallowfullscreen => "", :width => "520"}
      .ssh-tips
        .ssh-name
          высокий уровень обслуживания - залог успеха
        .ssh-body
          Служба маркетинга компании без оглядки. Учитывая современные тенденции.
          А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер.