= partial 'franshiza_popver'

.presentation-box
  .title-row
    .title
      ПРЕЗЕНТАЦИИ
    %button.orange.orange-small{'data-toggle' => 'modal', 'data-target' => '#franshiza-modal'}
      %em.left
      купить франшизу
      %i.icon-angle-right
      %em.right
    .flatten
  .ssh-row
    .ssh-box-left
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :marginheight => "0",
              :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no",
              :src => "http://www.slideshare.net/slideshow/embed_code/25455663?rel=0",
              :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px",
              :webkitallowfullscreen => "", :width => "520"}
      .ssh-tips
        .ssh-name
          БРЭНД КОНЦЕПЦИЯ
        .ssh-body
          Учитывая современные тенденции.
          А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер,
          полагаясь на инсайдерскую информацию.
    .ssh-box-right
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :marginheight => "0",
              :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no",
              :src => "http://www.slideshare.net/slideshow/embed_code/25455663?rel=0",
              :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px",
              :webkitallowfullscreen => "", :width => "520"}
      .ssh-tips
        .ssh-name
          ФИРМЕННЫЙ СТИЛЬ
        .ssh-body
          Служба маркетинга компании без оглядки. Учитывая современные тенденции.
          А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер.
    .flatten
  .ssh-row
    .ssh-box-left
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :marginheight => "0",
              :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no",
              :src => "http://www.slideshare.net/slideshow/embed_code/25455663?rel=0",
              :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px",
              :webkitallowfullscreen => "", :width => "520"}
      .ssh-tips
        .ssh-name
          СВОЙ АВТОСЕРВИС ЗА МЕСЯЦ
        .ssh-body
          Учитывая современные тенденции.
          А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер,
          полагаясь на инсайдерскую информацию.
    .ssh-box-right
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :marginheight => "0",
              :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no",
              :src => "http://www.slideshare.net/slideshow/embed_code/25455663?rel=0",
              :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px",
              :webkitallowfullscreen => "", :width => "520"}
      .ssh-tips
        .ssh-name
          ВЫСОКИЙ УРОВЕНЬ ОБСЛУЖИВАНИЯ - ЗАЛОГ УСПЕХА
        .ssh-body
          Служба маркетинга компании без оглядки. Учитывая современные тенденции.
          А вот по мнению аналитиков стимулирование сбыта синхронизирует рекламный клаттер.
    .flatten
=partial 'paginator'