= javascript_include_tag 'jquery.min.js'
%script{:type => "text/javascript", :charset => "utf-8", :src => "http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"}
\
// %script{:type => "text/javascript", :charset => "utf-8", :src => "http://api-maps.yandex.ru/1.1/index.xml?key=ANb4FVIBAAAAz2CNLAIABJ6Vrn2lzmm4Zyggzgc23x-7JqIAAAAAAAAAAACo9FbnKHhBx6JcWa-TBRhgSfJbyQ=="}
= stylesheet_link_tag 'lib/yamap'
= stylesheet_link_tag 'main'

%div#yamap

%script{:type => "text/javascript", :src => "javascripts/yamap.js"}
